<md-content>
  <md-content md-theme="mysticBackground" class="md-header-tall md-primary" layout="row" layout-align="center center">
    <div class="md-toolbar-tools md-warn">
      <span class="md-display-3 text-white">Character Overview</span>
    </div>
  </md-content>

  <md-content layout-padding>
    Hello {{user}}<br>

    <span class="md-headline">Pokedex</span>
    <md-grid-list
        md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile ng-repeat="pokemon in pokedex.pokemon"
                    md-whiteframe="2"
                    class="account-profile-card">

        <md-content md-theme="mysticBackground" class="md-primary md-hue-2 grid-tile-container">
          <div style="background-image:url('/res/images/pokemons/{{pokemon.num}}.png');
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: fit;
                      height:100%;
                      width:100%;">
            <!-- <md-button class="md-icon-button md-raised md-primary">
              <md-icon class="material-icons">close</md-icon>
            </md-button> -->
          </div>
        </md-content>

        <md-grid-tile-footer>
          <div layout="row" style="padding-top:.75em; padding-right: 16px;">
            <h3>{{pokemon.name}}</h3>
            <span flex="100"></span>
            <h3>{{pokemon.num}}</h3>
          </div>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-content>

</md-content>
