<md-content class="map-container">
      <ng-map center="52.3582993, 4.7819455"
              zoom="15"
              id="map" class="map"
              style="width: 100%; background-color:grey;">
        <!-- Player location -->
        <marker ng-repeat="trainer in trainers"
                position="[{{trainer.location.latitude}}, {{trainer.location.longitude}}]"
                icon="{{::characterIcon}}"
                opacity="{{trainer.username == currentTrainer.username ? 1.0 : 0.6}}"
                on-click="displayTrainerInfo(event, trainer);"></marker>

        <!-- Pokemon locations -->
        <marker ng-repeat="(key, poke) in pokemon"
                position="[{{poke.lat}}, {{poke.lng}}]"
                title="{{::poke.name}}"
                icon="{{markerIcons[poke.id]}}"
                on-click="displayPokemonInfo(event, poke);"
                ng-if="markerEnabled.pokemon"></marker>

        <!-- Info Window : Pokemon -->
        <info-window id="info-window-pokemon" max-width="200">
          <div ng-non-bindable="">
            <h1 class="md-subhead">{{pokemonDetails.name}}</h1>
            <div style="width:150px;">
              <div class="info-window-arena" ng-style="{'background-image': 'url(/res/images/arenas/arena_2.png)'}"
                    layout="row" layout-align="center center">
                <img ng-src="/res/images/pokemons_icon/{{pokemonDetails.id}}.png"></img>
              </div>
              <span>
                Time left : {{pokemonDetails.disappear_time | countdownFilter}}
              </span>
              <md-button ng-if="currentTrainer" class="md-flat md-primary" ng-click="setDirectionsToPokemon(pokemonDetails)">
                Go here
                <md-tooltip>{{currentTrainer.username}}</md-tooltip>
              </md-button>
            </div>
          </div>
        </info-window>

        <!-- Info Window : Trainer -->
        <info-window id="info-window-trainer" max-width="200">
          <div ng-non-bindable="">
            <h1 class="md-subhead">{{trainerDetails.username}}</h1>
            <div style="width:150px;">
              <div class="info-window-arena" layout="row" layout-align="center center">
                [icon]
              </div>
              <p>
                <span>Is online : {{trainerDetails.login.accessToken ? true : false}}</span><br>
                <span>Is walking : {{!trainerDetails.destination ? false : trainerDetails.destination.enabled ? true : false}}</span><br>
                <span>Is scanning : [todo]</span>
              </p>
            </div>
          </div>
        </info-window>

        <!-- Gym locations -->
        <marker ng-repeat="gym in gyms"
                position="[{{gym[1]}}, {{gym[2]}}]"
                ng-if="markerEnabled.gym"
                title="team : {{gym[0]}} | lvl : {{gym[3]}}"></marker>

        <!-- Directions -->
        <directions ng-if="path && path.origin && path.destination && path.waypoints"
                    draggable="false"
                    travel-mode="BICYCLING"
                    waypoints="{{path ? path.waypoints : []}}"
                    origin="{{path ? path.origin : ''}}"
                    destination="{{path ? path.destination : ''}}"
                    suppress-bicycling-layer="true"
                    polyline-options="{{polylineOptions.suggested}}"
                    preserve-viewport="true">
        </directions>

        <directions ng-if="currentTrainer && currentTrainer.destination"
                    draggable="false"
                    travel-mode="BICYCLING"
                    waypoints="{{currentTrainer.destination ? currentTrainer.destination.waypoints : []}}"
                    origin="{{currentTrainer.destination ? currentTrainer.destination.origin : ''}}"
                    destination="{{currentTrainer.destination ? currentTrainer.destination.destination : ''}}"
                    suppress-bicycling-layer="true"
                    polyline-options="{{polylineOptions.current}}"
                    preserve-viewport="true">
        </directions>
      </ng-map>

      <md-content class="map-options-container" style="padding-right:1em;" layout="row" layout-align="center center" ng-if="true">
        <div layout="row" layout-align="center center">
          <md-button class="md-icon-button md-raised" ng-click="getNearbyPokemon()">
            <md-icon class="material-icons">
              refresh
            </md-icon>
          </md-button>

          <!-- Marker filter -->
          <md-menu md-offset="-10 0">
              <md-button class="md-icon-button md-raised" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin class="material-icons">
                  sort
                </md-icon>
              </md-button>

              <md-menu-content width="4">
                <md-menu-item>
                  <md-checkbox style="margin-left: 1em;" ng-model="markerEnabled.gym">
                    Gyms
                  </md-checkbox>
                </md-menu-item>
                <md-menu-item>
                  <md-checkbox style="margin-left: 1em;" ng-model="markerEnabled.pokemon">
                    Pokemon
                  </md-checkbox>
                </md-menu-item>
                <md-menu-item>
                  <md-checkbox style="margin-left: 1em;" ng-model="markerEnabled.pokestops">
                    Pokestops
                  </md-checkbox>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
      </md-content>
</md-content>
