body {
  overflow: hidden;
}

.clickable {
  cursor:pointer;
}

.map-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.md-dialog-container-custom {
  width: 800px;
  max-width: 800px;
}

@media screen and (max-width: 1000px) {
    .md-dialog-container-custom {
        max-width: 80%;
    }
}

/* Hiding the bottom pointer on Map Markers */
div.ng-map-info-window>div:first-of-type>div:nth-of-type(1),
div.ng-map-info-window>div:first-of-type>div:nth-of-type(3) {
  /*display:none!important;*/
}

@media screen and (max-width: 1000px) {
    .md-modal-container {
        max-width: 80%;
    }
}

.map-options-container {
  position: absolute;
  bottom: 1em;
  z-index: 50;
  left:200px;
  width:calc(100vw - 400px);
  margin: 0 auto;
  background-color: rgba(0,0,0,0)!important;
}

.map-marker-player-current {

}

.map-marker-player {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.info-window-arena {
  height: 70px;
  padding-bottom:1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.map-options-container>div {
  width: auto;
}

.map {
  flex: 1;
}

/*Force view to be 100% window height*/
.view {
  height:100vh;
  overflow-y: auto;
}

/*Page headers*/
.md-header-tall {
  padding: 2em;
  overflow: hidden;
}

.md-header-tall>div {
  bottom:0;
  padding-left:2em;
}

/*Force sidenav on left side with full height*/
sidenav {
  float:left;
  height: 100%;
}

sidenav md-sidenav {
  height: 100%;
  max-width: none;
}

/*Sidenav selection highlight*/
md-menu-item>a.selected {
  background-color: rgba(158,158,158,0.2);
}

md-menu-item>a>span {
    text-transform: capitalize;
}

/*Force icon button to be white of color*/
.md-icon-white>md-icon {
  color: rgba(255,255,255,0.87)!important;
}

/*Sidenav toggle button*/
.menu-button {
  float: left;
  position: absolute;
  left: 0;
  top: 4px;
  -webkit-transition: left .5s; /* Safari */
  z-index: 100;
}

.menu-button-map {
  left: 7em;
}

@media screen and (max-width:960px) {
  .menu-button {
    top: -3px;
  }
}

@media screen and (max-width:780px) {
  .menu-button {
    top: 0;
  }
}

.trainer-profile-card {
  border-radius: 2px;
}

.pokemon-profile-card:hover:before {
    opacity: 0.50;
    background-size: 115% 115%;
}

.pokemon-profile-card, .item-card-content {
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemon-profile-card:hover:before {
    opacity: 0.50;
    background-size: 115% 115%;
}

.pokemon-profile-card:before {
  border-radius: 3px;
  content: " ";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: background-size 2s ease, opacity 1.0s ease-out;
  z-index: 0;
}

/* Flying type shares its background with normal */
.pokemon-profile-card-normal:before,  .pokemon-profile-card-flying:before{
  background-image: url('/res/images/backgrounds/BG_TYPE_NORMAL.png');
}

.pokemon-profile-card-psychic:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_PSYCHIC.png');
}

.pokemon-profile-card-bug:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_BUG.png');
}

.pokemon-profile-card-dragon:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_DRAGON.png');
}

.pokemon-profile-card-electric:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_ELECTRIC.png');
}

.pokemon-profile-card-fairy:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_FAIRY.png');
}

.pokemon-profile-card-fighting:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_FIGHTING.png');
}

.pokemon-profile-card-fire:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_FIRE.png');
}

.pokemon-profile-card-ghost:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_GHOST.png');
}

.pokemon-profile-card-grass:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_GRASS.png');
}

.pokemon-profile-card-ground:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_GROUND.png');
}

.pokemon-profile-card-ice:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_ICE.png');
}

.pokemon-profile-card-poison:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_POISON.png');
}

.pokemon-profile-card-rock:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_ROCK.png');
}

.pokemon-profile-card-water:before {
  background-image: url('/res/images/backgrounds/BG_TYPE_WATER.png');
}

.pokemon-profile-card-footer, .item-profile-card-footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(150,150,150,0.15)!important;
  color: rgba(100,100,100,0.8)!important;
  transition: background-color 1s ease, color 0.5s;
}

.pokemon-profile-card-footer:hover, .item-profile-card-footer:hover {
  background-color: rgba(50,50,50,0.30)!important;
  color: rgba(250,250,250,0.8)!important;
}

.item-card-content {
  background-size:60%;
  background-repeat: no-repeat;
  background-position:center;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0)!important;
  transition: background-color 1.5s ease, background-size 1s;
}

.item-profile-card:hover .item-card-content {
  background-color: rgba(100, 100, 100, 0.25)!important;
  background-size:70%;
}

.profile-card-content:hover + .pokemon-profile-card-footer, .item-card-content:hover + .item-profile-card-footer {
  background-color: rgba(50,50,50,0.30)!important;
  color: rgba(250,250,250,0.8)!important;
}

.pokemon-profile-card-nickname {
  color: rgba(100,100,100,0.9)!important;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom:2em;
}

.item-profile-card-count {
  color: rgba(100,100,100,0.9)!important;
  text-align: right;
  position: absolute;
  width: 100%;
  top:0;
  right:10pt;
}

.pokemon-profile-card-favorite {
  position: absolute;
  float: right;
  top: 0.5em;
  right:1em;
  font-size:36pt!important;
}

.profile-card-content {
  background-color: rgba(0,0,0,0)!important;
}

.trainer-profile-card-nav {
}

.grid-tile-container {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

/* Health bar , right (missing) */
md-progress-linear.progress-green>div {
  background-color: #B9F6CA!important;
}

/* Health bar , left */
md-progress-linear.progress-green>div>div {
  background-color: #69F0AE!important;
}

/* Health bar , right (missing) */
md-progress-linear.progress-red>div {
  background-color: #FF9E80!important;
}

/* Health bar , left */
md-progress-linear.progress-red>div>div {
  background-color: #FF6E40!important;
}


md-grid-tile.tile-smooth {
  transition: all 400ms ease-out 50ms;
}

/* Health bar , right (missing) */
md-progress-linear.progress-yellow>div {
  background-color: #FFE57F!important;
}

/* Health bar , left */
md-progress-linear.progress-yellow>div>div {
  background-color: #FFD740!important;
}

.text-white {
  color: white;
}

.trainer-profile-card-image{
  background-image: url('/res/images/character.png');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  margin-left:3em;
  height: 100%;
  width: 75%;
}

.trainer-profile-card>figure>md-grid-tile-footer>figcaption,
.trainer-profile-card-nav>figure>md-grid-tile-footer>figcaption {
  width: 100%;
  height: 100%;
}

.md-tabs-light>md-tabs-wrapper>md-next-button>md-icon, .md-tabs-light>md-tabs-wrapper>md-prev-button>md-icon {
    color:white;
}

.md-toolbar-input {
  margin-top:41px;
}

.md-toolbar-input>label, .md-toolbar-input>input {
  color:rgba(255,255,255,0.87)!important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
