<md-dialog class="md-dialog-container-custom">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        Login
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout-padding>
        <!-- Login credentials -->
        <div layout="row" layout-align="space-around center">
          <md-input-container flex="30" style="width:100%" class="md-input-has-value">
            <label>Username</label>
            <input name="username"
                   placeholer=""
                   ng-model="authObj.username">
          </md-input-container>
          <md-input-container flex="30" style="width:100%" md-no-float>
            <label>Password</label>
            <input name="password"
                   placeholer=""
                   ng-model="authObj.password"
                   type="password">
          </md-input-container>
          <!-- Provider selection | New user -->
          <div flex="30" layout="row" layout-align="center center" ng-hide="trainerObj" style="margin-top:-1.6em;">
            <md-button class="md-raised" ng-click="authObj.provider = 'google'" ng-class="{'md-accent' : authObj.provider == 'google'}">
              Google
              <md-tooltip>
                Google
              </md-tooltip>
            </md-button>
            <md-button class="md-raised" ng-click="authObj.provider = 'ptc'" ng-class="{'md-accent' : authObj.provider == 'ptc'}">
              PTC
              <md-tooltip>
                Pokémon Trainer Club
              </md-tooltip>
            </md-button>
          </div>
          <!-- Provider selection | Existing user -->
          <div flex="30" layout="row" layout-align="center center" ng-show="trainerObj" style="margin-top:-1.6em;">
            <md-button ng-disabled="true" class="md-raised" flex="100">
              {{authObj.provider}}
            </md-button>
          </div>
        </div>

        <!-- Coordinates -->
        <div layout="row" layout-align="space-between center">
          <md-input-container style="width:100%; margin-bottom:0;" flex="50">
            <label>Latitude</label>
            <input placeholder="" type="number" step="0.0001" name="latitude" ng-model="authObj.latitude">
          </md-input-container>

          <md-input-container style="width:100%; margin-bottom:0;" flex="50">
            <label>Longitude</label>
            <input placeholder="" type="number" step="0.0001" name="longitude" ng-model="authObj.longitude">
          </md-input-container>
        </div>
      </md-content>

      <!-- Google Maps -->
      <div>
        <ng-map center="{{authObj.latitude}}, {{authObj.longitude}}"
                zoom="15"
                style="width:100%; height: 250px;"
                disable-default-u-i="true"
                id="coordMap">
                <marker position="[{{authObj.latitude}}, {{authObj.longitude}}]">
                </marker>
        </ng-map>
      </div>
    </md-dialog-content>

    <md-progress-linear md-mode="indeterminate"
                        ng-show="isLoading"
                        md-theme="mystic"
                        class="md-accent"></md-progress-linear>

    <md-dialog-actions>
      <md-button class="md-flat" ng-click="cancelLogin()" ng-disabled="loginDisabled">
        Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-disabled="loginDisabled" ng-click="login()">
        Login
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
